In [1]:
import pandas as pd

In [2]:
data={
    'a':['x','y','z'],
    'b':['e','w','q']
}

In [3]:
data

{'a': ['x', 'y', 'z'], 'b': ['e', 'w', 'q']}

In [4]:
df=pd.DataFrame(data)

In [5]:
df

   a  b
0  x  e
1  y  w
2  z  q

In [10]:
import numpy as np
from numpy import random

In [11]:
x= arr=random.rand(500)

In [20]:
ind=arr=random.rand(500)

In [14]:
data={
    'a':x,
    'b':x
}

In [15]:
df=pd.DataFrame(data)

In [19]:
df

            a         b
0    0.966590  0.966590
1    0.409942  0.409942
2    0.648537  0.648537
3    0.196290  0.196290
4    0.586709  0.586709
..        ...       ...
495  0.331060  0.331060
496  0.361532  0.361532
497  0.512520  0.512520
498  0.977655  0.977655
499  0.528957  0.528957

[500 rows x 2 columns]

In [21]:
y=[2,8,9]

s=pd.Series(y,index=["1","211","33"])

In [22]:
y

[2, 8, 9]

# indexing in numnpy

In [28]:
a= 1,2,3,4,5
i= 0,1,2,3,4
n=

In [35]:
a[1:5:2]

(2, 4)

In [30]:
a[-1]

5